@media screen and (max-width: 1024px) {

	.banner__images__img {
		&--front {
			width: 80%;
		}

		&--top-back-right {
			width: 80%;
		}
	}

	.menu__box__category__plates__item {
		&__title {
			font-size: 1.3rem;
		}

		&__description {
			font-size: 1rem;
		}
	}
}

@media screen and (max-width: 767px) {

	.body_grid_1_col {
	   grid-template-rows: 90px auto auto 1fr;
	   grid-template-columns: 100%;
	}

	.header {
		grid-template-areas:
			"nav header__logo header__basket";
		grid-template-rows: auto;
		grid-template-columns: min-content 1fr min-content;

		&__logo__img {
			max-height: 90px;
		}
	}

	.banner {
		&__images {
			justify-content: center;
			padding: 0;

			&__img {
				&--front {
					margin-top: 0;
				}

				&--top-back-right {
					display: none;
				}
			}

		}

		&--inline {
			padding: 0;
			grid-template-columns: auto;
			grid-template-rows: 1fr 1fr;

			.banner {
				&__textbox {
					justify-self: center;
				}

				&__images {
					justify-self: center;
					grid-row-start: 1;
					padding-top: 2rem;
				}
			}
		}
	}

	.testimonials__container {
		flex-direction: column;
		align-items: center;
		gap: 25px;
	}

	.find-us {
		grid-template-areas:
			"find_us_title"
			"find_us_map"
			"find_us_data";
		grid-template-columns: auto;

		&__map {
			width: 100%;
		}

		&__data {
			align-items: center;
			text-align: center;
		}
	}

	.contact-form__container {
		width: 85%;
	}

	.menu__box__category {
		padding: 2rem;

		&__title {
			text-align: center;
		}

		&__plates {
			&__item {
				&__img {
					max-width: 200px;
					height: auto;
				}

				&--inline {
					width: 100%;
				}
			}
		}
	}

	.restaurants__box {
		flex-direction: column;
		padding: 3rem 0;
		align-items: center;
		gap: 2rem;

		&__item {
			width: 90%;
		}
	}

	.order {
		padding-top: 5rem;

		&__filters {
			grid-template-columns: 1fr;
				justify-items: center;
		}

		&__summary {
			flex-direction: column;
			align-items: center;

			&__list {
				align-items: center;

				&__item.order__summary__list__item--end {
					justify-content: center;
				}
			}
		}
	}

	.footer__top {
		grid-template-columns: 1fr;

		&__section {
			text-align: center;
		}
	}
}

@media screen and (max-width: 600px) {
	.restaurants__box {
		padding: 5rem 0;
	}

	.footer__bottom__list {
		flex-direction: column;
		align-items: center;
	}
}

@media screen and (max-width: 480px) {

	.order__filters {
		width: 90%;
	}

	.restaurants__box {
		padding: 6rem 0;
	}
}
