@media screen and (max-width: 1024px) {

	.banner__images__img--front {
		width: 80%;
	}

	.banner__images__img--top-back-right {
		width: 80%;
	}

	.menu__box__category__plates__item__title {
		font-size: 1.3rem;
	}

	.menu__box__category__plates__item__description {
		font-size: 1rem;
	}
}

@media screen and (max-width: 767px) {

	.body_grid_1_col {
	   grid-template-rows: 90px auto auto 1fr;
	   grid-template-columns: 100%;
	}

	.header {
		grid-template-areas:
			"nav header__logo header__basket";
		grid-template-rows: auto;
		grid-template-columns: min-content 1fr min-content;
	}

	.header__logo__img {
		max-height: 90px;
	}

	.banner--inline {
		padding: 0;
		grid-template-columns: auto;
		grid-template-rows: 1fr 1fr;
	}

	.banner--inline .banner__textbox {
		justify-self: center;
	}

	.banner__images {
		justify-content: center;
		padding: 0;
	}

	.banner--inline .banner__images {
		justify-self: center;
		grid-row-start: 1;
		padding-top: 2rem;
	}

	.banner__images__img--front {
		margin-top: 0;
	}

	.banner__images__img--top-back-right {
		display: none;
	}

	.testimonials__container {
		flex-direction: column;
		align-items: center;
		gap: 25px;
	}

	.find-us {
		grid-template-areas:
			"find_us_title"
			"find_us_map"
			"find_us_data";
		grid-template-columns: auto;
	}

	.find-us__map {
		width: 100%;
	}

	.find-us__data {
		align-items: center;
		text-align: center;
	}

	.contact-form__container {
		width: 85%;
	}

	.menu__box__category {
		padding: 2rem;
	}

	.menu__box__category__title {
		text-align: center;
	}

	.menu__box__category__plates__item__img {
		max-width: 200px;
		height: auto;
	}

	.restaurants__box {
		flex-direction: column;
		padding: 3rem 0;
		align-items: center;
		gap: 2rem;
	}

	.restaurants__box__item {
		width: 90%;
	}

	.order {
		padding-top: 5rem;
	}

	.order__filters {
		grid-template-columns: 1fr;
  	  	justify-items: center;
	}

	.order__summary {
		flex-direction: column;
		align-items: center;
	}

	.order__summary__list {
		align-items: center;
	}

	.order__summary__list__item.order__summary__list__item--end {
		justify-content: center;
	}

	.menu__box__category__plates__item--inline {
		width: 100%;
	}

	.footer__top {
		grid-template-columns: 1fr;
	}

	.footer__top__section {
		text-align: center;
	}
}

@media screen and (max-width: 600px) {
	.restaurants__box {
		padding: 5rem 0;
	}

	.footer__bottom__list {
		flex-direction: column;
		align-items: center;
	}
}

@media screen and (max-width: 480px) {

	.order__filters {
		width: 90%;
	}

	.restaurants__box {
		padding: 6rem 0;
	}
}
